.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-basis: 237px;
  max-width: 25vw;
  padding: 12px 12px;
  background: #28292C;
  border-top: 1px solid #202225;
  flex-grow: 1;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 20px;
  gap: 16px;
  background: #222325;
  background-image: url('../../assets/header/search.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 16px 10px;
  opacity: 0.3;
  border-radius: 10px;
  max-width: 380px;
  transition: 0.3s;

  -webkit-box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
  -moz-box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
  opacity: 0.4;

  &:hover {
    -webkit-box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
    -moz-box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
    box-shadow: inset 0px 0px 16px -1px rgba(255,255,255,0.9);
    opacity: 0.6;
    transition: 0.3s;
  }

  &__input {
    background-color: transparent;
    color: white;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: none;
    height: 28px;
    padding: 0 0 0 56px;
  }
}
