.layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: #e3e3e3;
  position: relative;
}

.mainPart {
  max-width: 100%;
  position: relative;
  display: flex;
  flex: 1;
}

.content {
  padding: 13px 40px;
  width: 80%;
}
